.col {
    background-color: aquamarine;
}
.col-5 {
    background-color: brown;
}
.card {
    width: 23%;
    margin-left: 1.6%;
    margin-top: 3%;
    height: 80vh;
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;;
}
.btn {
    background-color: yellow;
    width: 100%;
    color: gray;
    transition: all 500ms;
}
.cool
{
    background: rgb(116,59,59);
    background: linear-gradient(45deg, rgba(116,59,59,1) 0%, rgba(194,169,64,1) 25%, rgba(47,208,85,1) 40%, rgba(110,161,214,1) 51%, rgba(161,112,207,1) 66%, rgba(169,65,161,1) 95%); 
}
body {
    background-color: whitesmoke;
}
.yes {
    transition: all 500ms;
}
.yes:hover .drop{
opacity: 1;
top: 100%
}
.drop {
    position: absolute;
    transition: all 200ms;
    content: '';
    left: 0%;
    width: 150px;
    top: -400px;
    opacity: 0;
    min-height: 50px;
    background-color:lightgrey;
    z-index: 99;
    border-radius: 6px;
    cursor:default;
}
.menus {
    background: rgb(195,116,34);
    background: linear-gradient(98deg, rgba(195,116,34,1) 0%, rgba(253,187,45,1) 100%); 
width: 95%;
margin-top: 2%;
margin-left: 5%;
border-radius: 10% 0% 0% 10% / 10% 0% 0% 10%;
text-align: right;
font-size: xx-large;
height: 50px;
font-family: 'Montserrat', sans-serif;
}
.egor:hover .egordva{
opacity: 1;
}
.egordva {
    position: absolute;
    width: 300px;
    min-height: 100px;
    left: 100%;
    top: 1%;
    opacity: 0;
    background-color: rgba(116, 59, 59, 0.75);
}
.egortri {
    cursor: pointer;
    font-size: large;
    text-align: center;
    background: rgb(182,122,122);
    background: linear-gradient(40deg, rgba(77, 52, 189, 0.9) 0%, rgba(55,172,83,0.9) 40%, rgba(187, 68, 179, 0.9) 95%); 
    margin-bottom: 1%;
}
.plan {
    background: rgb(182,122,122);
    background: linear-gradient(40deg, rgba(182,122,122,1) 0%, rgba(55,172,83,1) 40%, rgba(99,56,96,1) 95%); 
    margin-top: unset;
    margin-bottom: 1%;
    height: 40px;
    font-size: 0.7em;
    justify-content: left;
    display: flex;
    align-items: center;
}
.plandva {
    position: absolute;
    width: 200px;
    min-height: 10px;
    right: 100%;
    top: 70%;
    opacity: 0;
    background-color: rgba(59, 116, 64, 0.75);
}
.plan:hover .plandva {opacity: 1;}
.plantri {background-color: lightgrey; margin-top: 1%;}
.gen {background-color: lightskyblue;}
.bord {border-radius: 0% 0% 20% 20% / 0% 0% 20% 20%;}
.navbar-collapse {
    justify-content: center;
    margin-left: -10%;
}