body {
    display: flex !important;
}
.grid {
    grid-template-columns: 10fr 2fr 10fr 2fr 5fr;
    grid-template-rows: 200px 200px;
}
button {
    height: 50px;
}
.upper {
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}
.uppercont {
    display: flex;
    justify-content: center;
    height: 50px;
}
.panel {
    width: 500px;
}
.grid input {
    font-size: xx-large;
}
.grid * {
width: 100%;
    height: 100%;
}
#sh {
    height: 40%;
}
#use {
    grid-column: 1/2;
    font-size: xxx-large;
    height: 50%;
    margin-top: 25%;
}
#clear {
    grid-column: 3/6;
    font-size: xxx-large;
    height: 50%;
    margin-top: 25%;
}
.ultcube {
    display: none;
}