* {
    margin: 0
}
.settings {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 1em;
    background-color: rgba(240, 248, 255, 0.8);
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    z-index: 99;
}
.fakesmall {opacity: 0; font-size: xx-small;}
.header {
    width: 99.5%;
    margin-top: 0.5vh;
    display: flex;
    position: fixed;
    justify-content: right;
    height: 60px;
}
.header p {
    width: 100%;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
    background-image: url(https://kartinkin.net/uploads/posts/2021-07/1626724504_10-kartinkin-com-p-zelenii-fon-dlya-vizitki-krasivo-11.jpg);
background-size: cover;
}
.panel { position: fixed;
width: 20%;
/* margin-left: 80%; */
height: 100vh;
background-color: rgba(0, 0, 0, 0.8);
margin-left: 100%;
}
.close {
margin-top: 2%;
margin-left: 2%;
background-color: red;
width: 15%;
border-radius: 15%;
color: white;
font-size: xxx-large;
text-align: center;
cursor: pointer;
width: 20%;
}
h1 {
    font-size: xx-large;
    color:white;
    font-family: 'Montserrat-el'
}
.backs {
display: grid;
grid-template-columns: 1fr 1fr;
width: 100%;
height: 50%;
}
.h100{height: 100%;}
.backimg {
    background-size: cover;
    background-image: url(https://wallpaperaccess.com/full/2832094.jpg);
}
.origin{background-image: url(https://kartinkin.net/uploads/posts/2021-07/1626724504_10-kartinkin-com-p-zelenii-fon-dlya-vizitki-krasivo-11.jpg);}
.puk{background-image: url(https://images4.alphacoders.com/109/thumb-1920-1093501.jpg);}
.plaj{background-image: url(https://i.pinimg.com/originals/39/96/fe/3996fe46f394c747aabd5606fed7377a.jpg);}
.wall{background-image: url(https://image.shutterstock.com/z/stock-photo-brick-wall-grunge-wall-background-350879696.jpg);}
.larges {
    width: 90%;
    margin-left: 5%;
    height: 60vh;
    background-color: rgba(255, 235, 205, 0.3);
    border: 1px black solid;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px gray;
    font-size: xx-large;
    float: left
}
.fakemar {
    height: 100px;
    width: 100px;
    /* background-color: red; */
}
.larges .larges {
    display: flex;
    width: 31%;
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
    height: 45%;
    justify-content: center;
}
.larges button {
    height: 23%;
    background-color: rgba(255, 235, 205, 0.7);
    border-radius: 5px;
    width: 100%;
}
.test {
    margin-left: 15%;
    margin-right: 15%;
}
.calcs {
    background-image: linear-gradient(rgba(15, 72, 194, 0.9),rgba(0,0,0,.1)), url(http://mini.s-shot.ru/1280x720/1280/?https://gribanovivan.github.io/coolsites/site21);
    background-size: cover;
}
.calcs-s button {
    width: 20%;
    margin-top: 20%;
}
.calcs p {
    color: yellow !important;
}
.larges p {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color:coral
}
.larges .larges p {
    color: unset;
}
.hidden {
    display: none
}
.smaller {
    height: 3vh;
}
span {
    color:darkcyan;
}
.mizuno {
    background-image: url(http://images6.fanpop.com/image/photos/34300000/Sanae-Mizuno-another-34321490-400-258.png);
    background-size: cover;
    background-position: center;
}
.moveblock {
    background-image: linear-gradient(rgba(15, 72, 194, 0.9),rgba(0,0,0,.0)), url(http://mini.s-shot.ru/700x600/700/?https://gribanovivan.github.io/coolsites/site23/moveblock);
}
.todo {
    background-position:top;
    color:orange;
    background-image: linear-gradient(rgba(15, 72, 194, 0.9),rgba(0,0,0,.0)), url(http://mini.s-shot.ru/640x640/640/?https://gribanovivan.github.io/coolsites/site24);
}
.mt3h {
    margin-top: 3vh;
}
.s25 {
    background-image: url(http://mini.s-shot.ru/800x800/800/?https://gribanovivan.github.io/coolsites/site25);
}
.addblock {
    background-image: url(http://mini.s-shot.ru/800x400/800/?https://gribanovivan.github.io/coolsites/site26);
}
.abs {
    position: absolute;
    margin-top:42px;
    margin-left: 40%;
    z-index: -1;
    width: 60%;
}
.block {
    float:unset
}
.abso {
    position: absolute;
    margin-top: -4.1%;
    width: 380px;
    font-size: 0em;
}
.col {
    width: 100%;
}
.flex {
    display: flex;
    justify-content: center;
}
.noflex {
    display: unset !important;
}
.absolute {
    position: absolute;
    border:0
}
.nope {
    display: unset !important;
}