body {
    margin: 0;
}

.iwantjs {
    width: 100%;
    margin-top: -2vh;
    min-height: 100vh;
    transition: background-color 500ms;
}
.higer {
    text-align: center;
    font-family: rwby;
    font-size: 3em;
}
.higer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    animation-duration: 5s;
    animation-name: despai;
    color:rgba(0, 0, 0, 0);
    position: absolute;
    left: 48%;
    top: 30%
}
h1 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

@keyframes despai {
    from {
        color: #000;
        font-size: large;
    }
  
    to {
        color: rgba(0, 0, 0, 0);
        overflow: hidden;
        font-size: 0;
        top: -10%;
    }
  }

@font-face {
    font-family: "rwby";
    src: url("rwby_style.ttf") format("opentype")
   }
.block {
    /* background-image: linear-gradient(rgba(0, 38, 255, 0.93),rgba(255, 0, 234, 0.97)), url(https://pbs.twimg.com/media/DXsVe8aVoAADn-G.jpg); */
    width: 80%;
    margin-left: 10%;
    height: 600px;
    background-color: rgba(126, 252, 0, 0.2);
    border-radius: 0.3% 30% 30% 40% / 30% 45% 30% 5% ;
    box-shadow: 0px 0px 60px 0px rgba(126, 252, 0, 0.4);
}
.small {
    width: 30%;
    height: 300px;
    background-image: url(https://hyperhost.ua/info/storage/uploads/2020/11/404%20robot.png);
    background-size: cover; 
    background-position: center;
    margin-left: 2.5%;
    border-radius: 3%;
    transition: all 200ms;
}
.japan {background-image: url(http://mini.s-shot.ru/1920x1080/535/?https://gribanovivan.github.io/coolsites/site3/);}
.over {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(45, 0, 205, 0.9),rgba(0,0,0,.5));
    opacity: 0;
}
.block p {
font-size: 2.5em;
font-family: 'Roboto', sans-serif;
}
input {
	height: 0px;
}
input::before {
	content: '';
	/* display: block; */
	width: 7%;
	height: 15%;
	background: url(https://www.vectorkhazana.com/assets/images/products/Darth_Vader_SVG_Digital_Cut_File.png) no-repeat;
	background-size: cover;
    background-position: center;
	position: absolute;
	top: 1%;
	right: 300px;
	z-index: 999;
}

input:checked + .iwantjs {
	background-color: #000;
}
input:checked + .iwantjs {
	color: whitesmoke;
}
input:checked + .iwantjs .block{
	background-color: rgba(107, 69, 182, 0.25);
    box-shadow: 0px 0px 60px 0px rgba(107, 69, 182, 0.4);
}
.small:hover {
    border-radius: 0%;
    /* filter: invert(48%); */
    transition: all 500ms;
}
.small:hover .over {
    transition: all 500ms;
    opacity: 1
}
.visit {
    /* background-color: black; */
    width: 50%;
    height: 15%;
    position: relative;
    top: 120%;
    left: 45%;
    font-size: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(45, 0, 205, 0.9);
    cursor: pointer; 
}

.last {
    position: absolute;
    width: 23%;
    height: 10%;
    color:rgba(126, 252, 0, 0.8);
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.small:hover .visit{
transition: all .3s;
font-size: xx-large;
top: 80%;
}
.visit:hover {
    background-color: rgba(97, 209, 75, 0.582);
    border-radius: 50px;
    transition: border-radius 2s;
}
a {text-decoration: none;}
a:visited {text-decoration: none}