body {
    background-color: whitesmoke;
}
div {
    text-align: center;
}
.block {
    width: 60%;
    height: 96vh;
    background-color: white;
    margin-left: 20%;
    border-radius: 3vh;
    display: flex;
    margin-top: 2vh;
}
.left {
    height: 100%;
    width: 55%;
    border-radius: 3vh 0 0 3vh;
}
.left h1 {
    color: gray;
    line-height: 0%;
}
.left h {
    color: gray;
    line-height: 300%;
}
.right {
    height: 100%;
    width: 45%;
    border-radius: 0 3vh 3vh 0;
    background-color: rgb(58,177,155);
    justify-content: center;
    align-items: center;
    display: flex;
}
h {
    font-size: 300%;
    font-family: 'TextaAltW00-Black';
    color: whitesmoke;
}
h1 {
    font-family: 'sk-reykjavik-rounded-2', sans-serif;
    font-size: large;
    font-weight: normal;
    color: whitesmoke;
    margin-top: 10%;
}
.arrow {
    margin-top: 10%;
    width: 20%;
    height: 5vh;
    border: 1px solid white;
    margin-left: 40%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}
.ball {
    position: fixed;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    background-color: #fcd35d;
    margin-left: -7vh;
    margin-top: -15vh;
}
.treugilnik {
    clip-path: polygon(65% 0, 100% 0, 100% 75%, 0 50%);
    position: fixed;
    top:0;right:0;
    width: 30vh;
    height: 30vh;
    background-color: #e77380;
}
.circles {
    width: 60%;
    height: 10%;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.circle {
    width: 15%;
    padding-bottom: 15%;
    border-radius: 50%;
    border: 2px solid gray;
    /* font-size: 400%; */
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
    display: flex;
}
.circle p {
    position: absolute;
    font-family: 'TextaAltW00-Black';
    color: gray;
    font-size: x-large;
    line-height: 0.1em;
}
.circle:hover p {
    color:green;
}
.formEntry {
    min-width: 55%;
    font-size: large;
    line-height: 2.3em;
    height: 20%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
    background-color: whitesmoke;
    margin-top: 3%
  }
h3 {
    line-height: ;
}
.mtsix {
    margin-top: 6%;
}
a {
    font-family: 'sk-reykjavik-rounded-2', sans-serif;
    font-size: large;
    color: gray;
    line-height: 5em;
}
.submit {
    width: 40%;
    height: 6vh;
    color: whitesmoke;
    background-color: rgb(58,177,155);
    border-radius: 200px;
    transition: all 1s;
  }
.submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    border-radius: 0%;
  }