.our {
    width: 27vh;
    height: 10vh;
    background-color: green;
}
button {
    color:cyan;
    font-size: x-large;
}
.yeses {
    height: 10vh;
    width: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.blue {background-color: blue;}
.grid {
    grid-template-rows: 10vh;
    margin-top: 10vh;
    margin-left: 15vh;
}
.notop {
    margin-top: 10px
}
.large {
    font-size: x-large;
    width: 25vh;
}
.blankb {
    background-color: rgba(0,0,0, 0);
}
.blanky {
border: unset;}
.blank {
    color:rgba(0,0,0, 0);}
p {
    color:tomato;
}
@media screen and (max-width: 600px) {
    .grid {
        margin-left: 10px;
        /* display: unset; */
    }
    .our {
        font-size: large;
    }
    .mobfix {
        display: flex;
        justify-content: center;
    }
    .yeses {
        margin-left: 5px;
    }
    .our {
        width: 20vh;
    }
    .mobno {
        display: unset;
    }
    .large {
        font-size: large;
        width: 20vh;
    }
    .noblank {
       display: none}
       .blue {
           background-color: blue !important;
       }
       .blank {color:white}
       .blanky {color: black;border: 1px black solid;}
}
@media screen and (min-width: 601px) {
       .blankb {border:unset;}
}
@media screen and (max-width: 350px) {
    .higer {
        font-size: xx-large;
    }
}