body {
    margin: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    /* margin-left: 100px; */
    margin-top: 3px;
height: 100%;
z-index: -5;
}
.palka {
    height: 100%;
    width: 1px;
    background-color: #E2E2E2;
    margin-left: 17px;
}
.minih {
    height: 50%;
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: 'Questrial-Regular';
    src:url('Questrial-Regular.ttf')  format('truetype')
  }

.lang {
    height: 100%;
    width: 35px;
    margin-left: 30px;
    margin-right: 15px;
    display: block;
}
p {
    color: #1F1F1F;
    font-family: Questrial-Regular;
    position: absolute;
    margin-top: 0%;
    font-size: x-large;
    line-height: 110%;
}
.b {
    font-weight: bolder;
}
.ru {
    height: 50%;
    width: 120%;
    background-color: #4AD295;
    margin-left: -10%;
    margin-top: 70%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
}
.w {
    color: white;
}
.mlm {
    margin-left: 80px;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: 25px;
    color: gray;
    letter-spacing: 1em;
    font-size: x-large;
    margin-right: -15px;
}
.mlmm {
    margin-left: 120px;
    margin-right: 10px;
}
.search {
    display: grid;
    grid-template-columns: 1fr 50px;
    width: 240px;
    margin-left: 25px;
    grid-template-areas:
    "left block"
}
.search * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.left {
    height: 100%;
    grid-area: left;
    background: #EFF3F6;
    border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
font-size: large;
}
.block {
    height: 100%;
    grid-area: block;
    background: #DD4053;
    margin-left: -3px;
    border-radius: 3px;
    color: white;
}
.tf {
    max-width: 205px;
}
.green {
    background: #4AD295;
}
@media screen and (max-width: 1420px) {
    .delme {display: none;}
}
@media screen and (max-width: 1260px) {
    .delmeme {display: none;}
    .mobfix {margin-left: 120px;}
}
@media screen and (max-width: 1200px) {
    .delmememe {display: none;}
}
@media screen and (max-width: 1030px) {
    .delmemememe {display: none;}
    .mobfix {display: none;}
    .button {margin-left: 3% !important}
}
@media screen and (max-width: 880px) {
.button {margin-left: 2% !important;}
}
@media screen and (max-width: 830px) {
    .delmememememe {display: none;}
    .palka {display: none;}
}
@media screen and (max-width: 781px) {

}
.downer {
    width: 100%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.downer .fa-solid {color: #343434;
    cursor: pointer;}
.button {
    min-width: 30px;
    height: 100%;
    /* background-color: aqua; */
    font-family: Questrial-Regular;
    margin 0;
    /* display: flex; */
    line-height: 70px;
    /* justify-content: center; */
    align-items: center;
    margin-left: 4%;
    /* cursor: pointer; */
    cursor: default;
}
.button:hover .hi {opacity: 1;
    transition: opacity 500ms;
}
.button:hover .opy {opacity: 0 !important;
    transition: opacity 100ms;
}
.button:hover .buttonb {
    display: inline-block;
}

.hi {
    width: 120%;
    margin-left: -10%;
    height: 3px;
    z-index: 99;
    background-color: #DD4053;
    opacity: 0;
    margin-top: -3px;
    transition: opacity 100ms;
}
/* .button p {
    color: #C4C4C4;
    font-size: small;
} */
.ulpal {
    width: 100%;
    background: #D0D0D0;
    height: 1px;
}
.do {
    background-image:  url("Rectangle 83.svg"),url(Безымянныйup.png);
    height: 67vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
}
.priceblock {
    /* border: 3px solid black; */
    margin-left: 200px;
    margin-top: 7.5%
}
.priceblock * {
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price {
    width: 250px;
    height: 45px;
    border: 1px solid white;
    /* margin-left: 200px;
    margin-top: 100px */
    font-size: x-large;
}
@font-face {
    font-family: 'Montserrat-f';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
    @font-face {
        font-family: 'Montserrat-f';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      .ohvar {
    margin-top: 16px;
    width: 725px;
    height: 100px;
    font-family: 'Montserrat-f';
    font-size: 2.7em;
    justify-content: left;
    text-transform: uppercase;
}
.pod {
background: rgba(255, 255, 255, 0.25);
border-radius: 2px;
font-family: 'Montserrat-b';
width: 270px;
height: 60px;
margin-top: 40px;
letter-spacing: .07em;
transition: border 100ms;
}
.pod:hover {
    border: 3px solid whitesmoke;
    cursor: pointer;
}
@font-face {
    font-family: 'Montserrat-b';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin */
@font-face {
    font-family: 'Montserrat-b';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  .opy {
      opacity: 1;
      transition: opacity 500ms;
  }
.buttonb {
    content: '';
    min-width: 250px;
    min-height: 100px;
    background-color: whitesmoke;
    /* display: inline-block; */
    position: absolute;
    display: none;
    border-radius: 3px;
}
.button:hover::before {
    display: inline-block;
}
a {
    color: black;
    text-decoration: none;
    font-style: Montserrat-f;
    margin-left: 5%;
    font-size: x-large;
}
.po {
    cursor: pointer;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height  : 250px;
    margin-top: 30px;
    grid-template-areas:
    "l r"
}
.r {
    grid-area: r;
}
.l {
    grid-area: l;
}
.vash {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #1D1D1D
}
.mlt {
    margin-left: 30%;
}
.o {
    font-family: 'Open Sans', sans-serif;
line-height: 28px;
letter-spacing: 0em;
color: #777777; 
font-size: x-large;
margin-top: 15px;
}
.bu {
    display: grid;
    grid-template-columns: 0.43fr 0.57fr;
    height  : 50px;
    margin-top: 20px;
    grid-template-areas:
    "l r"
}
.ch {
    background: #BDBDBD;
    font-family: 'Montserrat-b';
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.onezerofourzero {
    max-width: 1040px;
}
.onetwoonezero {
    max-width: 1210px;
    display: flex;
    justify-content: center;
}
.kon {
    border: 1px solid #969696;
box-sizing: border-box;
border-radius: 2px;
margin-left: 30px;
font-family: 'Montserrat-b';
font-size: large;
color: #969696;
display: flex;
align-items: center;
justify-content: center;
width: 60%;
cursor: pointer;
}
@media screen and (min-width: 1800px) {
    /* .do {width: 130%;margin-left: -15%;} */
.onezerofourzero {
    max-width: 1440px;
}

.ignore {
    max-width: 100%
}
}
.circle {
    background-image: url("Ellipse 13.svg");
    width: 6.2vh;
    height: 6.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-size: cover;
}
.minic {
    height: 6.2vh;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #3D3D3D;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}
@media screen and (max-width: 1800px) {
.vash {
    font-size: xx-large;
}
.minic {
    font-size: large;
}
}
.fe {
    background: #F8F8F8;
}
.none {
    height: 1px;
}
.mtn {
    margin-top: 90px;
    font-size: 2.7em;
    font-family: 'Montserrat-f';
    display: flex;
    justify-content: center;
    align-items: center;
}
.cf {
    border: 1px solid #C6C6C6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 6%;
    color: #C6C6C6;
line-height: 100%;
cursor:not-allowed
}
.cfb {
    border: 1px solid #454545;
    margin-left: 4%;
    color: #454545;
    cursor: pointer;
}
.v {
    height: 45px;
    width: 10%;
    font-size: 0.4em
}
.on {
    width: 20%;
    margin-left: 6%;
    margin-right: 3%;
    margin-top: -3px;
}
.pics {
    display: grid;
    height: 60vh;
    grid-template-columns: 1000fr 65fr 1000fr 65fr 1000fr;
    margin-top: 50px;
    margin-bottom: 10px;
    grid-template-areas:
    "pica stop picb stop picc"
}
.pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 300ms;
}
.pica {
    background-image: url(pica.png)
}
.pic:hover .stars{
    opacity: 1;
    transition: all 1s;
}
.pica:hover {
    background-image:  url("Rectangle 83.svg"),url(pica.png);
}
.picb {
    background-image: url(2.png);
    background-position: center;
}
.picb:hover {
    background-image:  url("Rectangle 83.svg"),url(2.png);
}
.picc {
    background-image: url(https://i.travelapi.com/hotels/2000000/1510000/1504300/1504267/c41c4172.jpg);
background-position: right;
}
.picc:hover {
    background-image:  url("Rectangle 83.svg"),url(https://i.travelapi.com/hotels/2000000/1510000/1504300/1504267/c41c4172.jpg);
}
.gray {
    margin-top: 20px;
    background: #04040459;
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
}
.gray p {
    font-family: 'Open Sans-r';
    margin-left: 15px;
    margin-right: 15px;
    font-size: large;
    line-height: 150%;
    color: white;
    cursor:default;
}
.pc {
    width: 60%;
    height: 30%;
    margin-top: 35%;
    margin-left: 20%;
}
.stars {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 300ms;
}
.stars * {
    margin-left: 2%;
}
.stars p {
    margin-left: unset;
    margin-top: 2%;
    font-family: 'Montserrat-f';
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.gb {
    width: 180px;
}
.gc {
    width: 250px;
}
@font-face {
    font-family: 'Open Sans-r';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4kaVIGxA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans-r';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.more {
    width: 31%;
}
footer {
    /* background-image: url("Rectangle 251.svg"),url(https://www.wallpapertip.com/wmimgs/83-837458_riverwalk.jpg); */
    background-image: url(https://www.wallpapertip.com/wmimgs/83-837458_riverwalk.jpg);
    width: 100%;
    height: 370px;
    background-position: 50% 10%;
    filter: grayscale(90%);
}
footer * {
    filter: unset;
}