#center { text-align: center; font-size: 600%;}
.box {
    height: 80vh;
    width: 70%;
    box-sizing: border-box;
    margin-left: 15%;
    border: 10px solid black; /* Параметры границы */
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width: 25%;
    padding-bottom: 25%;
    border-radius: 50%;
    background-color: rgb(191,0,47,255);
}