/* .black {
    background-image: url(https://cdn-icons-png.flaticon.com/512/91/91466.png);
    width: 128px;
    height: 128px;
    background-size: cover;
    position: absolute;
    margin-left: 90%;
} */

input {
    /* width: 0%;*/
    height: 0px; 
}
input::before {
    content: '';
    /* background: url(https://cdn-icons-png.flaticon.com/512/91/91466.png) no-repeat;*/
    background: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/night-285-722466.png) no-repeat;
    width: 128px; 
    height: 128px;
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 200px;
    display: block;
    /* margin-left: 90px; */
}
input:checked + body{
    background-color: blue;
}

input:checked + .black body {
    background-color: black
    /* width: 256px;
    height: 256px; */
}

.black:hover {
    margin-top: 5%;
}