.higer {
    text-align: center;
    font-family: rwby;
    font-size: 3em;
}
.higer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    animation-duration: 5s;
    animation-name: despai;
    color:rgba(0, 0, 0, 0);
    position: absolute;
    left: 48%;
    top: 30%
}
h1 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

@keyframes despai {
    from {
        color: #000;
        font-size: large;
    }
  
    to {
        color: rgba(0, 0, 0, 0);
        overflow: hidden;
        font-size: 0;
        top: -10%;
    }
  }

@font-face {
    font-family: "rwby";
    src: url("rwby_style.ttf") format("opentype")
   }
.block {
    /* background-image: linear-gradient(rgba(0, 38, 255, 0.93),rgba(255, 0, 234, 0.97)), url(https://pbs.twimg.com/media/DXsVe8aVoAADn-G.jpg); */
    width: 60%;
    margin-left: 20%;
    height: 400px;
    background-color: rgba(126, 252, 0, 0.128);
    border-radius: 30% 30% 30% 40% / 30% 45% 30% 5% ;
}
/* .black {
    background-image: url(https://cdn-icons-png.flaticon.com/512/91/91466.png);
    width: 128px;
    height: 128px;
    background-size: cover;
    position: absolute;
    margin-left: 90%;
} */

input {
    /* width: 0%;*/
    height: 0px; 
}
input::before {
    content: '';
    /* background: url(https://cdn-icons-png.flaticon.com/512/91/91466.png) no-repeat;*/
    background: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/night-285-722466.png) no-repeat;
    width: 128px; 
    height: 128px;
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 200px;
    display: block;
    /* margin-left: 90px; */
}
input:checked + body{
    background-color: blue;
}

input:checked + .black body {
    background-color: black
    /* width: 256px;
    height: 256px; */
}

.black:hover {
    margin-top: 5%;
}
/* 
.block p {

} */