.box {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    border-radius: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.block {
  width: 75%;
  height: 75%;
  border-radius: 170px;
  border: 40px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 40px solid white;
}
.c {
  position: absolute;
  background-color: white;
  width: 8%;
  height: 8%;
  border-radius: 50%;
  margin-left: 40%;
  margin-bottom: 40%;
}
@media screen and (max-width: 600px) {
  .box {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      border-radius: 113px;
    }
  .block  {
  border-radius: 113px;
  border: 27px solid white;
}
  .circle  {
  border: 27px solid white;
}
}