.navbar {
    background-color: white;
    min-height: 105px;
}
.but {
    height: 50px;
    width: 180px;
    background-color: white;
    border: 2px solid #50ba87;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.yes {
    float: right;
    display: flex;
    align-items: center;
}
.but::before {
    content: '';
    background-color: #50ba87;
    width: 60%;
    height: 100%;
    transition: all 500ms;
    opacity: 0;
}
.but:hover::before{
opacity: 1;
width: 100%;
}
.but:hover p{
    color: white;
}
p {
    position: absolute;
    line-height: 300%;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    font-weight: 500;
}
.container-xxl {
    max-width: 1170px !important;
}
.tel {
    margin-right: 50px;
    font-size: 0.95em;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    transition: 300ms all;
}
.tel:hover {
    text-decoration: none;
    color: #50ba87;
    cursor: pointer;
}
.fa-phone {
    color: #50ba87;
    margin-right: 15px;
    font-size: 1.3em;
}
.fa-clock {
    color: #50ba87;
    margin-right: 15px;
    font-size: 1.3em;
}
.palka {
    width: 1px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.3);
    margin-right: 35px;
    margin-left: 35px;
}
.time {
    text-transform: uppercase;
    margin-right: unset;
}
.bg2 {
    background-color: rgb(22, 46, 68);
}
.mmm {
    height: 40px;
}
.mm {
    min-height: unset !important;
}