.navbar {
    background-color: white;
    min-height: 105px;
}
body {
    font-family: unset !important;
}
.but {
    height: 50px;
    width: 180px;
    border: 2px solid #50ba87;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.yes {
    float: right;
    display: flex;
    align-items: center;
}
.but::before {
    content: '';
    background-color: #50ba87;
    width: 60%;
    height: 100%;
    transition: all 500ms;
    opacity: 0;
}
.but:hover::before{
opacity: 1;
width: 100%;
}
.but:hover p{
    color: white;
}
p {
    position: absolute;
    line-height: 300%;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    font-weight: 500;
}
.container-xxl {
    max-width: 1170px !important;
}
.tel {
    margin-right: 50px;
    font-size: 0.95em;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    transition: 300ms all;
}
.tel:hover {
    text-decoration: none;
    color: #50ba87;
    cursor: pointer;
}
.fa-phone {
    color: #50ba87;
    margin-right: 15px;
    font-size: 1.3em;
}
.fa-clock {
    color: #50ba87;
    margin-right: 15px;
    font-size: 1.3em;
}
.palka {
    width: 1px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.3);
    margin-right: 35px;
    margin-left: 35px;
}
.time {
    text-transform: uppercase;
    margin-right: unset;
}
.bg2 {
    background-color: rgb(22, 46, 68);
}
.mmm {
    height: 40px;
}
.mm {
    min-height: unset !important;
}
.buttons {
    font-size: 16px;
    letter-spacing: .05em;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
    height: 56px;
    margin-top: -8px;
    min-width: 70px;
    margin-right: 50px;
}
.buttons:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.hello {
    width: 70px;
    height: 3px;
    top: -0px;
    background-color: #50ba87;
    position: absolute;
    opacity: 0;
    transition: all 500ms;
}
.big {
    width: 91px;
}
.bigger {width: 96px;}
.buttons:hover .hello {
    /* animation-name: hello;
    animation-duration: 300ms; */
    opacity: 1;
}
/* @keyframes hello {
    0% {opacity: 1;}
    50% {opacity: 1;}
} */
.nojust {
    /* justify-content: unset !important; */
    justify-content: flex-end
}
.yeses {
position: relative;
float: right;
color: white;
min-width: 100px;
min-height: 20px;
letter-spacing: 1em;
font-size: large;
}
.imgt {
    background-image: url(https://livedemo00.template-help.com/wt_51647/images/slider-4-slide-1-1920x678.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}
.text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 20%;
}
h1 {
    font-size: 1em !important;
    text-transform: uppercase;
}
h2 {
    font-size: 3.75em !important;
}
b {
    font-weight: 700 !important;
}
.text .but {
    border: 2px solid white;
    margin-top: 10px;
    width: 130px;
}
footer {
    width: 100%;
    height: 100px;
    background: #11263a;
    color: gray;
    align-items: center;
    display: flex;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    text-align: center;
    font-size: 1.5em !important;
    letter-spacing: 1em;
}
a {
    color: gray !important;
    text-decoration: none !important;
    transition: all 500ms;
}
h4 {
    text-align: right;
    font-size: small !important;
}
a:hover {
    color: #50ba87 !important
}