@font-face {
    font-family: strahanet;
    src: url(runic.TTF);
}
.higer {
    font-family: strahanet;
    font-size: 5em;
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.yeses {
    margin-top: 2%;
    height: 30vh;
    margin-left: 20%;
    width: 60%;
}
ul {
    margin-top: 1%;
}

@media screen and (max-width: 1111px) {
    .yeses {
        height: 60vh;
        margin-left: 10%;
        width: 80%;
    }
}
@media screen and (max-width: 666px) {
    .higer {
        font-size: 3em;
    }
}
@media screen and (max-width: 450px) {
        .input {
            display: block;
        }   
}