@font-face {
    font-family: strahanet;
    src: url(runic.TTF);
}
.higer {
    font-family: strahanet;
    font-size: 5em;
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.right {
    margin-left: 30%;
}
.left {
    margin-left: -10%;
}
.yeses {
    margin-top: 10%;
    height: 60vh;
    margin-left: 20%;
    width: 60%;
}
ul {
    margin-top: 1%;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }

.input {
    height: 200%;
}
@media screen and (max-width: 1111px) {
    .yeses {
        margin-top: 15%;
        height: 60vh;
        margin-left: 10%;
        width: 80%;
    }
    .left {
        margin-left: -10%;
    }
    .right {
        margin-left: 60%;
    }
}
@media screen and (max-width: 666px) {
    .higer {
        font-size: 3em;
    }
    .left {
        margin-left: -20%;
    }
    .right {
        margin-top: 25%;
    }
    .yeses {
        margin-top: 25%;
    }
}
@media screen and (max-width: 450px) {
        .input {
            display: block;
        }
        .left {
            margin-left: unset;
        }
        .right {
            margin-top: unset;
        }
}