.box {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    border-radius: 150px;
    text-align:center;
  }
  #insta {
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 600px;
}
@media screen and (max-width: 601 px) {
  .box {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      border-radius: 100px;
    }
    #insta {
      font-size: 400px;
}
}