* {
    margin: 0;
}
#backvid {
    position: fixed;
    max-width: 100%;
    top: 50%; /*for mobile*/
    left: 50%; /*for mobile*/
    transform: translate(-50%, -50%); /*for mobile*/
    z-index: -99;
}
.darker {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0.8;
    z-index: -98;
}
.blocks {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    position: absolute;
    width: 100%;
    height: 40vh;
}
.block {
    width: 40vh;
    height: 100%;
    border-radius: 30px;
    transition: all 500ms;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    position: relative; /*https://stackoverflow.com/questions/20818881/use-video-as-background-for-div*/
    }
.block img {
    height: 42vh;
    margin-top: -2vh;
    transition: all 500ms;
}
#chocola {
    background: rgb(121,97,106);
    background: linear-gradient(111deg, rgba(121,97,106,1) 30%, rgba(254,179,191,1) 65%, rgba(255,204,207,1) 80%); 
}
.block:hover {
    width: 50vh;
    height: 120%;
    margin-top: -5vh;
    background-image: url(loading.png);
    background-size: 20%;
}
.block:hover img {
    height: 52.5vh;
    margin-top: -2.5vh;
    display: none;
}
#chocola:hover {
    background-image: url(https://i.imgur.com/8RuIeVC.gif);
    background-position: center;
    background-size: cover;
}
.vanilla {
    background: rgb(255,255,245);
    background: linear-gradient(111deg, rgb(255,255,245) 30%, rgb(118,182,225) 65%, rgb(232,247,252) 80%);
}
.vanilla:hover {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/856100508776029389/7CC1B266722534B3738949D66AD02573C1700478/?imw);
    background-position: center;
    background-size: cover;
}
.coconut {
    background: rgb(255,254,249);
    background: linear-gradient(111deg, rgb(255,254,249) 30%, rgb(246,179,255) 65%, rgb(255,230,200) 80%);
}
/* ffmpeg -i nekopara2op.wmv -ss 29.066 -c copy -t 7.134 -an coconut.wmv -y */
.block video { /*https://stackoverflow.com/questions/20818881/use-video-as-background-for-div*/
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    border-radius: 30px;
    display: none;
  }
.block:hover video {
    display: unset;
}
.azuki {
    background: rgb(140,85,89);
    background: linear-gradient(111deg, rgb(140,85,89) 30%, rgb(255,233,131) 65%, rgb(255,244,224) 80%);
}
.azuki:hover {
    background-image: url(https://c.tenor.com/nl3EfKDcZ8EAAAAC/nekopara-azuki.gif);
    background-position: center;
    background-size: cover;
}
.cinnamon  {
    background: rgb(190,175,213);
    background: linear-gradient(111deg, rgb(190,175,213) 30%, rgb(99,199,222) 65%, rgb(255,241,223) 80%);
}
.cinnamon:hover {
    background-image: url(https://thumbs.gfycat.com/UniformPossibleAfghanhound-size_restricted.gif);
    background-size: cover;
    background-position: center;
}
.bd {
    margin-top: 50vh;
}
.maple:hover {
    background-image: url(https://thumbs.gfycat.com/GoodnaturedPoorFunnelweaverspider-size_restricted.gif);
    background-size: cover;
    background-position: center;
}
.maple  {
    background: rgb(250,204,150);
    background: linear-gradient(111deg, rgb(250,204,150) 30%, rgb(160,63,85) 65%, rgb(255,242,224) 80%);
}
.info {
    display:none;
    position: absolute;
    width: 80%;
    height: 90vh;
    margin-left: 10%;
    margin-top: 5vh;
    z-index: 2;
    border-radius: 50px;
    background-size: cover;
    transform: all 300ms;
}
@font-face {
    font-family: 'GenJyuuGothicX-Bold';
    src:url('GenJyuuGothicX-Bold.ttf')  format('truetype')
  }
button {
    font-size: large;
    line-height: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    background-image: url(button-normal.png);
    background-position: center;
    height: 13%;
    width: 15%;
    background-size: 100%;
    cursor: pointer;
    color: #772200;
    text-transform:uppercase;
    display: block;
    background-repeat: no-repeat
}
button:hover {
    background-image: url(button-over.png);
    color:#cc6644
}
button:active {
    background-image: url(button-on.png);
    color:#ffbb11
}
* {font-family: 'GenJyuuGothicX-Bold'}
.mars {
    margin-left: 1vh;
}
#chocola-info {
    background-image: url(https://cdn.donmai.us/original/27/00/__chocola_nekopara_drawn_by_sayori_neko_works__2700e4cdce1711e23a40f030e6df9d20.jpg); */
    background-image: url(chocola.png);
}
body {
    background-image: url(https://cdn.donmai.us/original/28/c3/__chocola_vanilla_coconut_cinnamon_maple_and_1_more_nekopara_drawn_by_sayori_neko_works__28c3ca23672a6ec9fbdd9c5b0f55fb12.jpg);
    background-size: cover;
    background-position: 0 -25px;
}
#maple-info {
    background-image: url(https://cdn.donmai.us/original/c8/cd/__maple_nekopara_drawn_by_sayori_neko_works__c8cdf623f67532ad2129eb2cca6f1e9f.jpg);
}
#cinnamon-info {
    background-image: url(https://cdn.donmai.us/original/44/59/__cinnamon_nekopara_drawn_by_sayori_neko_works__44596075c50565567fb04d02a25a174f.jpg);
}
#vanilla-info {
    background-image: url(https://cdn.donmai.us/original/74/9b/__vanilla_nekopara_drawn_by_sayori_neko_works__749b6058bd100a1421ff9f256c16a58e.jpg);
}
#azuki-info {
    background-image: url(https://cdn.donmai.us/original/7c/57/__azuki_nekopara_drawn_by_sayori_neko_works__7c5759c0d62db4c870ac9d8c8b7a5d56.jpg);
}
#coconut-info {
    background-image: url(https://cdn.donmai.us/original/63/de/__coconut_nekopara_drawn_by_sayori_neko_works__63de12f44e51027c85e96f135fd41eee.jpg);
}
.info img {
    float:right;
    cursor: inherit;
    height: 100%;
    transform: scaleX(-1);
}
.buttons {
    position: absolute;
    width: 100%;
    height: 100%;
}
ul {
    /* position: relative; */
    z-index: 1;
    font-size: x-large;
    color:rgb(121,97,106);
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(254,179,191), 0 0 0.2em rgb(254,179,191)
}
.downer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end
}
#lang {
    width: 25vh;
    height: 15vh;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg);
    background-position: center;
    background-size: cover;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    color:black;
    user-select: none;
}
#lang span {
    color:#3e3960
}
#lang abc {
    color:#dad5d4
}
#lang dd {
    color:#9c2431
}
.ztop{
    height: 100vh;
    display: flex;
    align-items: end;
    position: absolute;
    z-index: 2;
}
qwe {color:white}
rty {color:#d52b1e}